<ul class="row">
  <li class="col-md-4"></li>
  <li class="col-xs-12 col-md-4">
    <%= form_with(model: @article, local: true ,url: choose_new_or_edit) do |form| %>
    <% if @article.errors.any? %>
      <div id="error_explantion">
        <h2>投稿エラー</h2>
        <ul>
          <div class="alert alert-danger" role="alert">
            <%= @article.errors.full_messages %>
          </div>

        </ul>
      </div>
    <% end %>
      <div class="artilce_content">
        <center>
        <h3>140文字以内で一言！</h3>

          <div class="content">
            <%= form.label :一言 %>
            <%= form.text_field :content %>
          </div>
          <%= form.submit "投稿" ,:class=>"btn_submit" %>
          <% end %>
      </div>
  </li>
  </center>
  <li class="col-md-4"></li>
</ul>


  
